<!DOCTYPE html>
<html>
<style>
body {
background-color: rgb(200, 181, 217);
}


h1{
    color: rgb(124, 124, 203);
    
    font-family: 'Times New Roman', Times, serif;


}

p{
    color: rgb(56, 56, 149);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button{
    font-family: 'Times New Roman', Times, serif;
    border: 12px;
    
}

</style>
<head>

<style>
.complete{
    text-decoration: line-through;
    font-style: italic;
}
</style>



</head>

<body>







<h1> De'Andres List</h1>

<ul>
{% for a in My_Goals %}
   <li>
   {{a['description']}}
   <form method="POST" action="/delete_todo/{{loop.index0}}">

   <input type="submit" value="POST">
   </form>
<form method="POST" action="/complete_todo/{{loop.index0}}">
<input type="submit" value="Mark Complete">
</form>
   {%if a ['complete']%}☺️{%endif%}
   </li>

{% endfor %}
</ul>
<form method="post">
<input name="new_todo">
<input type="submit">
</form>

</body>











</html>