<!DOCTYPE html>
<html>
<style>
body {
background-color: rgb(200, 181, 217);
}


h1{
    color: rgb(124, 124, 203);
    
    font-family: 'Times New Roman', Times, serif;


}

p{
    color: rgb(56, 56, 149);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button{
    font-family: 'Times New Roman', Times, serif;
    
}
</style>
<head>





</head>

<body>







<h1> De'Andres List</h1>

<ul>
{% for a in My_Goals %}
   <li>
   {{a}}
   <form method="POST" action="/delete_todo/{{loop.index0}}">
   <input type="submit" value="POST">
   </form>
   </li>

{% endfor %}
</ul>
<form method="post">
<input name="new_todo">
<input type="submit">
</form>

</body>











</html>